*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
    min-width: 300px;
    min-height: 200px;
    background-color: skyblue;
}

#folders-container{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.folder{
    padding: 20px;
    cursor: pointer;
    border: 2px solid transparent;
}

.folder-name--container{
    width: 72px;
    height: 2.3em;
    overflow: hidden;
    margin-top: -10px;
    position: absolute;
}
.folder-name--container:hover{
    background-color: lightblue;
    height: auto;
    overflow: visible;
    position: absolute;
}

.folder p{
    font-size: .8em;
}

.selected-folder{
    border: 2px dotted blue;
}